*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/acrobat/build/.transforms/ece39c3ddd4170df55c41285543ee572/classes/classes.dex
/acrobat/build/.transforms/ece39c3ddd4170df55c41285543ee572.bin
/acrobat/build/generated/source/buildConfig/debug/com/jadyn/ai/acrobat/BuildConfig.java
/acrobat/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/acrobat/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/acrobat/build/intermediates/aar_metadata/debug/aar-metadata.properties
/acrobat/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/acrobat/build/intermediates/compile_library_classes_jar/debug/classes.jar
/acrobat/build/intermediates/compile_r_class_jar/debug/R.jar
/acrobat/build/intermediates/compile_symbol_list/debug/R.txt
/acrobat/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/acrobat/build/intermediates/incremental/mergeDebugShaders/merger.xml
/acrobat/build/intermediates/incremental/packageDebugAssets/merger.xml
/acrobat/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
/acrobat/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
/acrobat/build/intermediates/incremental/packageDebugResources/merger.xml
/acrobat/build/intermediates/javac/debug/classes/com/jadyn/ai/acrobat/recyclerview/itemdecoration/DividerGrid.class
/acrobat/build/intermediates/javac/debug/classes/com/jadyn/ai/acrobat/BuildConfig.class
/acrobat/build/intermediates/library_java_res/debug/res.jar
/acrobat/build/intermediates/library_manifest/debug/AndroidManifest.xml
/acrobat/build/intermediates/local_only_symbol_list/debug/R-def.txt
/acrobat/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/acrobat/build/intermediates/navigation_json/debug/navigation.json
/acrobat/build/intermediates/packaged_manifests/debug/output-metadata.json
/acrobat/build/intermediates/packaged_res/debug/values/values.xml
/acrobat/build/intermediates/runtime_library_classes_jar/debug/classes.jar
/acrobat/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.keystream
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.values.at
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab_i
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab_i.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/package-parts.tab
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/package-parts.tab.keystream
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/package-parts.tab.keystream.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/package-parts.tab.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/package-parts.tab.values.at
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/package-parts.tab_i
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/package-parts.tab_i.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab_i
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.keystream
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.keystream.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.values.at
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab_i
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab_i.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.keystream
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.values.at
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab_i
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab_i.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/counters.tab
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.keystream
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.values.at
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab_i
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab_i.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.keystream
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.values.at
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab_i
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab_i.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.keystream
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.keystream.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.len
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.values.at
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab_i
/acrobat/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab_i.len
/acrobat/build/kotlin/compileDebugKotlin/build-history.bin
/acrobat/build/kotlin/compileDebugKotlin/last-build.bin
/acrobat/build/outputs/logs/manifest-merger-debug-report.txt
/acrobat/build/tmp/compileDebugJavaWithJavac/source-classes-mapping.txt
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/itemdecoration/GroupInfo.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/itemdecoration/StickyHeaderDecor$$special$$inlined$apply$lambda$1.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/itemdecoration/StickyHeaderDecor.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatAdapter$acrobatMgr$2.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatAdapter$AcroViewHolder$doBindEvent$1.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatAdapter$AcroViewHolder$doBindEvent$2.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatAdapter$AcroViewHolder$doBindEvent$3.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatAdapter$AcroViewHolder.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatAdapter$bind$1.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatAdapter$DiffCallback.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatAdapter$onCreateViewHolder$1.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatAdapter$onCreateViewHolder$2.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatAdapter$onCreateViewHolder$3.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatAdapter$tagMap$2.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatAdapter$tooFastChecker$2.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatAdapter.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatDSL$1.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatDSL$2.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatDSL$3.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatDSL$4.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatDSL$build$value$1.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatDSL.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatItem$Companion.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatItem.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatMgr$data$2.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatMgr$items$2.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/AcrobatMgr.class
/acrobat/build/tmp/kotlin-classes/debug/com/jadyn/ai/acrobat/recyclerview/RecyclerViewExtKt.class
/acrobat/build/tmp/kotlin-classes/debug/META-INF/acrobat_debug.kotlin_module
/acrobat/build/.transforms/4999c3047cdee5e6916e315fd79f78b4/classes/classes.dex
/acrobat/build/.transforms/4999c3047cdee5e6916e315fd79f78b4.bin
