<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jadynai.kotlindiary">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppApplication"
        android:icon="@drawable/cat"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.jadynai.kotlindiary.binder.BinderActivity"></activity>
        <activity
            android:name="com.jadynai.kotlindiary.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jadynai.kotlindiary.RecyclerViewActivity" />
        <activity
            android:name="com.jadynai.kotlindiary.show.ShowActivity"
            android:process=":remote" />
        <activity
            android:name="com.jadynai.kotlindiary.thread.ThreadActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.jadynai.kotlindiary.data.DataCodeActivity" />
        <activity android:name="com.jadynai.kotlindiary.view.ViewActivity" />
        <activity android:name="com.jadynai.kotlindiary.canvas.CanvasActivity" />
        <activity android:name="com.jadynai.kotlindiary.designMode.DesignModeActivity" />
        <activity android:name=".StickyHeaderActivity" />
        <activity android:name=".coroutine.CoroutineActivity" />
        <activity
            android:name=".websocket.WebSocketClientActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.jadynai.kotlindiary.binder.MessengerService"
            android:process=":remote" />

        <provider
            android:name=".websocket.TraceProvider"
            android:authorities="${applicationId}.contentprovider"
            android:exported="false" />

    </application>

</manifest>